<!-- src/app/home/home.component.html -->
<div class="container mt-5">
  <h1 class="mb-4">Home</h1>
  <p>Bem-vindo ao sistema de Gestão Pessoal. Escolha uma opção abaixo:</p>

  <div class="list-group">
    <a routerLink="/funcionarios" class="list-group-item list-group-item-action">
      <i class="bi bi-people-fill me-2"></i>Gestão de Funcionários
    </a>
    <a routerLink="/ferias" class="list-group-item list-group-item-action">
      <i class="bi bi-calendar-check-fill me-2"></i>Gestão de Férias
    </a>
    <a routerLink="/relatorio" class="list-group-item list-group-item-action">
      <i class="bi bi-file-earmark-text-fill me-2"></i>Relatório de Funcionários
    </a>
  </div>
</div>
